{% block menu %}
        <h1>Menu :  </h1>

       {% if isAdmin == false %}
          <p>Menu des non admins :</p>
           <ul>Disconnect : <a>Deconnexion</a> </ul>
           <ul>Home : <a>Accueil</a> </ul>
           <ul>Gérer profil : <a>Gerer profil</a> </ul>
           <ul>Lister produit : <a>Produits</a> </ul>
           <ul>Mon panier : <a>Mon Panier</a> </ul>
       {% else %}
        <p>Menu des admins : </p>
           <ul>Disconnect : <a >Deconnexion</a> </ul>
           <ul>Home : <a >Accueil</a> </ul>
           <ul>Gérer client : <a>Gerer client</a> </ul>
           <ul>Créer produit : <a>New produit</a> </ul>
           <ul>Lien vers 'Amour Et Amnésie' : <a href="https://fr.wikipedia.org/wiki/Amour_et_Amn%C3%A9sie">Lien</a> </ul>
       {% endif %}

{% endblock %}
